.landing-main-content{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    line-height: 4rem;
    margin-top: 6rem;
  }
  
  .landing-content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    min-height: 70vh;
  }
  .landing-heading{
    width: 80%;
    text-align: center;
  }

  .landing-description{
    width: 80%;
    text-align: center;
  }
  @media (max-width: 1199px) {
    .landing-main-content{
      margin-top: 4rem;
    }
    .landing-content-section {
      width: 70%;
    }
  }
  
  @media (max-width: 767px) {
    .landing-main-content{
      margin-top: 3rems;
    }
    .landing-content-section {
      width: 90%;
    }
  }
  
  @media (max-width: 414px) {
    .landing-content-section {
      width: 94%;
      max-height: 100%;
    }

  }
  