:root {
    --primary-color: #f16b48;
    --secondary-color: #fe5f55;
    --light-color: #e8edf1;
    --dark-color: #2b2b2b;
    --warning-color: #f6ae2d;
    --grey-color: #7f7f7f;
    --white-color: #ffffff;
    --info-color: #3c91e6;
    --primary-light-color: #FEF3C7;
    --secondary-light-color: rgb(254 95 85 / 20%);
    --warning-light-color: rgb(246 174 45 / 20%);
    --info-light-color: rgb(60 145 230 / 20%);
    --secondary-hover-color: #ff6960;
    --primary-hover-color: #F59E0B;
    --warning-hover-color: #fcbe50;
    --info-hover-color: #66a3e1;
    --font-dark-light-bg-color: #ffffff;
  }
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('./Landing.css');
@import url('./Navbar.css');
@import url('./Components.css');
@import url('./Sidebar.css');
@import url('./Element.css');
@import url('./Avatar.css');
@import url('./Input.css');
@import url('./Alert.css');
@import url('./Card.css');
@import url('./Button.css');

